<div class="container-fluid" style="height: 90vh">
  <div class="row">
    <div class="col-8 d-flex justify-content-start align-items-baseline" style="column-gap: 5px">
      <mat-form-field>
        <mat-label>Заказ №</mat-label>
        <input type="number" matInput [(ngModel)]="filter.orderNumber">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Артикул</mat-label>
        <input type="text" matInput [(ngModel)]="filter.article">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Сотруник ОТК</mat-label>
        <mat-select [(ngModel)]="filter.worker">
          <mat-option [value]="null">Не важно</mat-option>
          <mat-option *ngFor="let w of this.workers" [value]="w.name">{{w.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Период</mat-label>
        <mat-date-range-input [rangePicker]="periodPicker">
          <input matStartDate placeholder="Начало" [(ngModel)]="this.filter.from" [max]="this.filter.to">
          <input matEndDate placeholder="Конец" [(ngModel)]="this.filter.to" [min]="this.filter.from">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="periodPicker"></mat-datepicker-toggle>
        <mat-date-range-picker #periodPicker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Результат осмотра</mat-label>
        <mat-select [(ngModel)]="filter.result">
          <mat-option value=null>Не важно</mat-option>
          <mat-option value="Брака нет">Брака нет</mat-option>
          <mat-option value="Брак есть">Брак есть</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="col-2 offset-2 d-lg-flex justify-content-end align-items-center" style="column-gap: 10px">
      <button mat-raised-button color="primary" (click)="this.filter.offset=0;clear();load();">
        Сбросить
      </button>
      <button mat-raised-button color="primary" (click)="this.filter.offset=0;this.load()">
        Поиск
      </button>
    </div>
  </div>
  <div class="row" style="max-height: 70vh">
    <div>
      <table class="w-100" style="height: 70vh" >
        <colgroup>
          <col style="width: 11%">
          <col style="width: 11%">
          <col style="width: 11%">
          <col style="width: 11%">
          <col style="width: 11%">
          <col style="width: 11%">
          <col style="width: 11%">
          <col style="width: 11%">
        </colgroup>
        <tr class="order-stat-table-header">
          <th>Номер</th>
          <th>Заказ</th>
          <th>Артикул</th>
          <th>Произв. линия</th>
          <th>Дата акта</th>
          <th>Сотрудник</th>
          <th class="text-center">Количество партия</th>
          <th class="text-center">Количество проверено</th>
          <th>Результат осмотра</th>
        </tr>
        <tr *ngIf="checks.length==0">
          <td colspan="9" class="text-center" style="font-size: 30px">Не обнаружено ни одного акта</td>
        </tr>
        <tr *ngFor="let c of this.checks" class="order-stat-table-row">
          <td>
            <div class="d-flex align-items-center">
              {{c.name}}   <button mat-icon-button color="primary" (click)="view(c)"><mat-icon>zoom_in</mat-icon></button>
            </div>
          </td>
          <td>{{c.orderNumber}}</td>
          <td>{{c.article}}</td>
          <td>{{c.productLine}}</td>
          <td>{{c.stamp | date:'dd.MM HH:mm'}}</td>
          <td>{{c.worker}}</td>
          <td class="text-center">{{c.productCount}}</td>
          <td class="text-center">{{c.checkedCount}}</td>
          <td>{{c.result}}</td>
        </tr>
      </table>
      <div *ngIf="isLoadingData" style="position: relative; top:-70vh;left: 0px; height: 70vh; width: 100%;
      background-color: var(--load-block-back)" class="d-flex justify-content-center align-items-center">
        <div class="d-flex align-items-start" style="column-gap: 10px">
          <mat-spinner diameter="30" style="display: inline"></mat-spinner>
          <span style="font-size: 30px">Загрузка данных</span>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="offset-10 col-2 d-flex justify-content-between align-items-baseline mt-2">

        <button mat-raised-button color="primary" [disabled]="this.filter.offset==0" (click)="this.filter.offset=this.filter.offset-10;this.load()"><<</button>
        <span>Страница: {{this.filter.offset/10 +1}}</span>
        <button mat-raised-button color="primary" [disabled]="checks.length<10" (click)="this.filter.offset=this.filter.offset+10;this.load()">>></button>
      </div>

    </div>
</div>
