<div class="container-fluid">

  <div class="row">
    <div class="col-12 text-center post-column-caption">
      <div style="display: flex; justify-content: space-between">
        <div class="post-column-title" style="margin-left: 50px">
          <span class="pt-3" *ngIf="this.session.currentUser!.structure!.postIdMaster.length==1">{{this.session.currentUser!.structure!.postIdMaster[0]!}}</span>
          <mat-form-field  *ngIf="this.session.currentUser!.structure!.postIdMaster.length>1" style="width: 300px">
            <mat-label>Участок</mat-label>
            <mat-select [disabled]="isLoading" [(ngModel)]="this.selectedPost" (ngModelChange)="selectedPostChange()">
              <mat-option *ngFor="let p of this.session.currentUser!.structure!.postIdMaster" [value]="p">{{p}}</mat-option>
            </mat-select>
          </mat-form-field>

          <span style="color: #ce456d;margin-left: 3px" *ngIf="allWorks.length!=filteredWorks.length">(АКТИВНЫЙ ФИЛЬТР)</span></div>
        <div style="display: flex; justify-content: center">
          <div class="mt-3">Работ: {{allWorks.length}}</div>
          <div class="mt-3" style="margin-left: 2px" *ngIf="allWorks.length!=filteredWorks.length"> ({{filteredWorks.length}})</div>
          <div class="mt-3" style="margin-left: 20px">Норматив: {{getTotalCost(allWorks)}}</div>
          <div class="mt-3" style="margin-left: 2px" *ngIf="allWorks.length!=filteredWorks.length"> ({{getTotalCost(filteredWorks)}})</div>
          <div style="margin-left: 30px">
            <mat-form-field>
              <mat-label>Фильтр по артикулу</mat-label>
              <input matInput type="text" [(ngModel)]="articleFilter">
            </mat-form-field>
          </div>
          <div style="margin-left: 30px">
            <mat-form-field style="width: 250px">
              <mat-label>Фильтр по заказу</mat-label>
              <mat-select multiple [(value)]="orderFilter">
                <mat-option *ngFor="let order of this.getOrders(allWorks)" [value]="order">{{order}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button style="margin-left: 10px" mat-raised-button color="primary" (click)="applyFilter()">ОК</button>
            <button style="margin-left: 10px" mat-raised-button color="primary" (click)="clearFilters()">Х</button>
          </div>
        </div>
      </div>



    </div>
  </div>
  <div class="row">
    <div class="col-3 text-center post-column-caption">
      <div class="mt-1 post-column-title d-flex justify-content-center">
        <div class="align-self-start">
          <button mat-icon-button color="primary" disabled="true"><mat-icon>filter_list</mat-icon></button>

        </div>
        <div class="align-self-center">
          Поступление
        </div>
        <div class="align-self-end" *ngIf="incomeWorks.length>0">
          <button mat-icon-button color="primary" (click)="printWorks(incomeWorks)">
            <mat-icon>print</mat-icon>
          </button>
        </div>
      </div>
      <div style="display: flex; justify-content: center">
      <div>Работ: {{incomeWorks.length}}</div>
      <div style="margin-left: 20px">Норматив: {{getTotalCost(incomeWorks)}}</div>
      </div>
    </div>
    <div class="col-3 text-center post-column-caption">
      <div class="mt-1 post-column-title d-flex justify-content-center">
        <div class="align-self-start">
          <button mat-icon-button color="primary" [matMenuTriggerFor]="waitFilterMenu"><mat-icon>filter_list</mat-icon></button>
          <mat-menu #waitFilterMenu>
            <mat-checkbox color="primary" [(ngModel)]="showReturnedWorks" (change)="workDeselect()">Показывать возвращенные работы</mat-checkbox>
          </mat-menu>
        </div>
        <div class="align-self-center">
          Ожидание
        </div>
        <div class="align-self-end" *ngIf="waitWorks.length>0">
          <button mat-icon-button color="primary" (click)="printWorks(waitWorks)">
            <mat-icon>print</mat-icon>
          </button>
        </div>
      </div>
      <div style="display: flex; justify-content: center">
        <div>Работ: {{waitWorks.length}}</div>
        <div style="margin-left: 20px">Норматив: {{getTotalCost(waitWorks)}}</div>
      </div>
    </div>
    <div class="col-3 text-center post-column-caption">
      <div class="mt-1 post-column-title d-flex justify-content-center">
        <div class="align-self-start">
          <button mat-icon-button color="primary" disabled="true"><mat-icon>filter_list</mat-icon></button>

        </div>
        <div class="align-self-center">
          Выполнение
        </div>
        <div class="align-self-end" *ngIf="runningWorks.length>0">
          <button mat-icon-button color="primary" (click)="printWorks(runningWorks)">
            <mat-icon>print</mat-icon>
          </button>
        </div>
      </div>
      <div style="display: flex; justify-content: center">
        <div>Работ: {{runningWorks.length}}</div>
        <div style="margin-left: 20px">Норматив: {{getTotalCost(runningWorks)}}</div>
      </div>

    </div>
    <div class="col-3 text-center post-column-caption">
      <div class="mt-1 post-column-title d-flex justify-content-center">
        <div class="align-self-start">
          <button mat-icon-button color="primary" [matMenuTriggerFor]="sendedFilterMenu"><mat-icon>filter_list</mat-icon></button>
          <mat-menu #sendedFilterMenu>
            <mat-checkbox color="primary" [(ngModel)]="showSendedWorks" (change)="workDeselect()">Показывать переденные работы</mat-checkbox>
          </mat-menu>
        </div>
        <div class="align-self-center">
          Завершение
        </div>
        <div class="align-self-end" *ngIf="endedWorks.length>0">
          <button mat-icon-button color="primary" (click)="printWorks(endedWorks)">
            <mat-icon>print</mat-icon>
          </button>
        </div>
      </div>
      <div style="display: flex; justify-content: center">
      <div>Работ: {{endedWorks.length}}</div>
      <div style="margin-left: 20px">Норматив: {{getTotalCost(endedWorks)}}</div>
      </div>
    </div>
  </div>

  <div  *ngIf="isLoading" class="d-flex justify-content-center row">
    <mat-spinner diameter="80" class="mt-5" *ngIf="isLoading"></mat-spinner>
  </div>
  <div class="row post-column-container" *ngIf="!isLoading">

    <div class="col-3" style="padding-left: 2px;padding-right: 2px">


      <div
        #inc="cdkDropList"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="[inc,wait,run,end]"
        [cdkDropListData]="incomeWorks" cdkDropList
        class="post-column" id="10">
        <div
          class="post-dnd-item"
          *ngFor="let w of this.incomeWorks" [cdkDragData]="w"
          cdkDrag [cdkDragDisabled]="w.isLoading">

          <app-work-compact-view [Work]="w"></app-work-compact-view>
        </div>

      </div>
    </div>
    <div class="col-3" style="padding-left: 2px;padding-right: 2px">
      <div
        #wait="cdkDropList"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="[inc,wait,run,end]"
        [cdkDropListData]="waitWorks" cdkDropList
        class="post-column" id="20">
        <div
          class="post-dnd-item"
          *ngFor="let w of this.waitWorks" [cdkDragData]="w" cdkDrag [cdkDragDisabled]="w.isLoading">
          <app-work-compact-view [Work]="w"></app-work-compact-view>
        </div>

      </div>
    </div>
    <div class="col-3" style="padding-left: 2px;padding-right: 2px">
      <div
        #run="cdkDropList"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="[inc,wait,run,end]"
        [cdkDropListData]="runningWorks" cdkDropList
        class="post-column" id="30">
        <div
          class="post-dnd-item"
          *ngFor="let w of this.runningWorks" [cdkDragData]="w" cdkDrag [cdkDragDisabled]="w.isLoading">

          <app-work-compact-view [Work]="w"></app-work-compact-view>
        </div>

      </div>
    </div>
    <div class="col-3" style="padding-left: 2px;padding-right: 2px">
      <div
        #end="cdkDropList"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="[inc,wait,run,end]"
        [cdkDropListData]="endedWorks" cdkDropList
        class="post-column" id="40">
        <div
          class="post-dnd-item"
          *ngFor="let w of this.endedWorks" [cdkDragData]="w" cdkDrag [cdkDragDisabled]="w.isLoading">
          <app-work-compact-view [Work]="w"></app-work-compact-view>
        </div>

      </div>

    </div>
  </div>
</div>
