<div class="mt-3">
  <mat-form-field style="margin-left: 5px">
    <mat-label>Заказ</mat-label>
    <input type="number" matInput [(ngModel)]="orderNumber">
  </mat-form-field>
  <button style="margin-left: 20px" mat-raised-button color="primary" (click)="load()">Загрузить</button>
  <div *ngIf="isLoading" style="display: flex; justify-content: center">
    <mat-spinner [diameter]="35"></mat-spinner>
  </div>
  <div *ngIf="stat">
    <apx-chart [chart]="this.timeLineChart.chart"
               [series]="this.timeLineChart.series"
               [theme]="this.timeLineChart.theme"
               [plotOptions]="this.timeLineChart.plot"
               [fill]="this.timeLineChart.fill"
               [xaxis]="this.timeLineChart.xaxis"
               [title]="this.timeLineChart.title"
               [stroke]="this.timeLineChart.stroke"
               [tooltip]="this.timeLineChart.tooltip"
               [legend]="this.timeLineChart.legend"

    ></apx-chart>
    <!--
    <apx-chart  [chart]="issueLineChart.chart"
                [theme]="issueLineChart.theme"
                [series]="issueLineChart.series"
                [xaxis]="issueLineChart.xaxis"
                [plotOptions]="issueLineChart.plot"
                [tooltip]="issueLineChart.tooltip"
    >

    </apx-chart>-->
  </div>
</div>
