<body class="mat-typography mat-app-background" style="min-height: 100vh; height: 100vh">

<mat-toolbar style="background: linear-gradient(to right,#c2185b,#303030); height: 4vh">
  <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  <h1>Производство</h1>
  <!-- <app-notify style="margin-left: auto;margin-right: 20"></app-notify> -->
</mat-toolbar>


<mat-sidenav-container  class="sidenav-container" style="min-height: 96vh; height: 96vh; ">
  <mat-sidenav #drawer mode="side" style="background: linear-gradient(to top,rgba(86,86,86,0.31),#303030)">
    <mat-nav-list>

      <mat-list-item [routerLink]="am.route" *ngFor="let am of this.availableMenu" (click)="drawer.close()">{{am.caption}}</mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>

      <router-outlet></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>
</body>
