<div>
  <div mat-dialog-title>Регистрация события</div>

  <div style="width: 400px;" mat-dialog-content>

    <mat-form-field class="w-100">
      <mat-label>Тип события</mat-label>
      <mat-select [(ngModel)]="issue.templateId">
        <mat-option *ngFor="let t of this.templates" [value]="t.id">{{ t.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Комментарий</mat-label>
      <textarea matInput [(ngModel)]="issue.description" rows="3"></textarea>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="isReturn" class="mb-2 mt-2" color="primary" *ngIf="linkWork"
                  [disabled]="linkWork.structure.movedFrom=='ИТР'">
      Вернуть на участок {{linkWork.structure.movedFrom}}</mat-checkbox>
  </div>
  <div mat-dialog-actions>
    <div  style="display: flex;justify-content: space-between; width: 100%">

      <button mat-raised-button color="primary" (click)="cancel()">Отмена</button>
      <button mat-raised-button color="primary" (click)="ok()">Готово</button>
    </div>
  </div>

</div>
