<div>
  <div mat-dialog-title>Регистрация события</div>

  <div style="width: 400px;" mat-dialog-content>

    <mat-form-field class="w-100">
      <mat-label>Тип события</mat-label>
      <mat-select [(ngModel)]="issue.templateId">
        <mat-option *ngFor="let t of this.templates" [value]="t.id">{{ t.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Комментарий</mat-label>
      <textarea matInput [(ngModel)]="issue.description" rows="3"></textarea>
    </mat-form-field>


      <mat-form-field class="w-100" >
        <mat-label>Вернуть на участок</mat-label>
        <mat-select  [disabled]="linkWork?.structure?.movedFrom=='ИТР'" [(ngModel)]="returnPost">
          <mat-option [value]="null">Нет</mat-option>
          <mat-option *ngFor="let p of this.possiblePosts" [value]="p">{{p}}</mat-option>
        </mat-select>
      </mat-form-field>


  </div>
  <div mat-dialog-actions>
    <div  style="display: flex;justify-content: space-between; width: 100%">

      <button mat-raised-button color="primary" (click)="cancel()">Отмена</button>
      <button mat-raised-button color="primary" (click)="ok()">Готово</button>
    </div>
  </div>

</div>
