
<div style="max-height: 90vh; height: 90vh; overflow-y: auto">
  <div *ngIf="isLoading" class="mt-4 mb-4" style="display: flex; justify-content: center">
    <mat-spinner [diameter]="35"></mat-spinner>
  </div>

  <div *ngIf="!isLoading" class="mt-3 mb-2 " >

    <div style="display: flex; justify-content: space-between">
      <div>
        <mat-form-field>
          <mat-label>
            Заказ
          </mat-label>
          <input type="text" matInput [(ngModel)]="orderFilter" (ngModelChange)="filterUpdate()">
        </mat-form-field>
        <mat-form-field style="margin-left: 10px">
          <mat-label>
            Артикул
          </mat-label>
          <input type="text" matInput [(ngModel)]="articleFilter" (ngModelChange)="filterUpdate()">
        </mat-form-field>
        <mat-checkbox [(ngModel)]="hideCompleted" color="primary" (ngModelChange)="filterUpdate()">
          Спрятать завершенные
        </mat-checkbox>
      </div>
      <button mat-icon-button color="primary" (click)="print()"><mat-icon>download</mat-icon></button>
    </div>

    <div *ngIf="this.stat.length!=this.articleStat.length" class="mb-2">
      Фильтр, отображено {{this.articleStat.length}} из {{this.stat.length}}
    </div>

    <table style="border: 1px dashed #ffffff; position: relative; " class="w-100">


      <thead  class="order-stat-table-header">
      <tr>
        <th style="min-width: 5%; " class="sticky">Заказ</th>
        <th  style="min-width: 10%; " class="sticky" >Артикул</th>
        <th  style="min-width: 10%; " class="sticky" >Наименование</th>
        <th  style="min-width: 5%; " class="sticky" >Приоритет</th>
        <th  class="sticky" >Дата сдачи</th>
        <th  class="text-center sticky" style="width: 8%; " >Количество</th>
        <th class="text-center sticky" >Текущий уч.</th>
        <th class="text-center sticky" style="width: 8%; ">Норматив</th>
        <th class="text-center sticky" style="width: 8%; ">Норматив CRP</th>
        <th  class="text-center sticky" style="width: 8%; ">Выполнено</th>
        <th  class="text-center sticky"  *ngFor="let postColumn of this.posts">{{postColumn.tableName}}</th>
      </tr>
      </thead >
      <tbody>
      <ng-container *ngFor="let article of articleStat">
        <tr class="order-stat-table-row">
          <td>{{article.Order}}</td>
          <td style="width: 10%" class="text-center">{{article.Article}}</td>
          <td style="width: 10%">{{article.ItemText}}</td>
          <td style="width: 5%" class="text-center">{{article.Priority}}</td>
          <td>{{article.DeadLine | date:'dd.MM.yyyy'}}</td>
          <td style="width: 8%" class="text-center">
            {{article.Count}}
          </td>
          <td class="text-center">
            <div *ngFor="let p of article.Places">
              {{p}}
            </div>
          </td>

          <td style="width: 8%" class="text-center">
            {{article.TotalCost|number}}
          </td>
          <td style="width: 8%" class="text-center">
            {{article.TotalCostCrp|number}}
          </td>

          <td class="text-center" style="width: 8%">
            {{((article.CompletedCost / article.TotalCost) * 100)|number}}%
          </td>

          <td *ngFor="let articlePost of article.ByPosts" class="text-center">
            <ng-container *ngIf="articlePost.IsEmpty; then empty; else notEmpty">

            </ng-container>
            <ng-template #notEmpty>
              <ng-container *ngIf="articlePost.Percentage>=100; then ok;else perc">

              </ng-container>
              <ng-template #ok>
                <mat-icon style="color: #008100">task_alt</mat-icon>
              </ng-template>
              <ng-template #perc>
                <div style="display: flex; justify-content: center">
                  <div style="margin-top: 2px">{{articlePost.Percentage|number}}%</div>
                  <div style="margin-left: 2px" >
                    <mat-icon style="color: #beb41c"  *ngIf="articlePost.Issues>0" [matTooltip]="articlePost.IssuesText" matTooltipClass="tooltip">highlight_off</mat-icon>
                  </div>

                </div>

              </ng-template>

            </ng-template>
            <ng-template #empty>
              <mat-icon style="color: #008100">chevron_right</mat-icon>
            </ng-template>

          </td>
        </tr>

      </ng-container>


      </tbody>
    </table>
  </div>


</div>
