
/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
:root{
  --scroll-color: rgb(2, 2, 2);
  --post-column-caption-color:rgba(68, 68, 68, 0.3);
  --drag-preview-color:rgb(255,255,255);
  --drag-placeholder-bg-color: rgba(108, 108, 108, 0.35);
  --post-bg-grad-from-color: rgba(50, 50, 50, 1);
  --post-bg-grad-to-color:rgba(0, 0, 0, 0.00);
  --post-bg-item-color:rgba(79, 79, 79, 0.18);
  --post-item-color: rgb(255, 255, 255);



  --bg-tooltip-color:rgba(108, 108, 108, 0.70);
  --tooltip-color:rgba(108, 108, 108, 0.70);

  --table-hover-bg-color:rgb(2,2,2,0.2);
  --table-even-bg-color:rgb(2,2,2,0.2);
  --table-sticky-bg-color:rgba(2,2,2,1);
  --load-block-back:rgba(32,32,32,0.8);
}
span.text-theme{
  color: var(--post-item-color);
}
mat-list-item{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.tech-card-selected-item{
  text-decoration: underline;
  border: 1px solid var(--drag-preview-color);
  background-color: var(--table-even-bg-color);
}
li{
  color: var(--post-item-color);
  font-size: 14px;
  font-weight: normal;

}

.main-toolbar{
  background: linear-gradient(to right,
  var(--scroll-color),
  #010101)!important;
  height: 4vh!important;
  color:white!important;
}
.side-bar{
  background: var(--post-bg-item-color)!important;
}
a {
  color: #0366d6;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
  overflow-x: auto;
}

::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
  overflow-x: auto;
}

::-webkit-scrollbar-thumb
{
  background-color: var(--scroll-color);

}

input{
  color: var(--post-item-color);
  background-color: var(--post-bg-item-color);
}

.item-text:hover{
  background-color: rgba(128,128,128,0);
  color: rgba(128,128,128,0);

}

.item-text{
  transition: 0.5s;
  position: absolute;
  top: 87%;
  left: 0;
  padding-top: 2px;
  width: 100%;
  height: 15%;
  text-align: justify;
  letter-spacing: 1px;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,.3));
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;

}

html, body { height: 100%; }
body {
  margin: 0; font-family: Comfortaa, sans-serif; font-weight: 600; color: #ffffff }
.error{
  background-color: rgba(134,0,32,0.51);
}
.overflow-hidden{
  overflow: hidden!important;
}

.mat-tooltip.mltooltip {
  font-size: 14px!important;
  width: 600px!important;
  white-space: pre-line!important;
}

.mat-tooltip.tooltip-work {
  font-size: 12px;
  width: 400px;
  white-space: pre-line;
}
.cdk-drag-preview {
  opacity: 0.15;
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 0px;
  box-shadow: 0 5px 5px -3px rgba(105, 105, 105, 0.28),
  0 8px 10px 1px rgba(37, 37, 37, 0.25),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  color: var(--drag-preview-color);
  font-size: 10px;
}


.cdk-drag-animating {
  transition: transform 150ms cubic-bezier(0, 0, 1, 1);
}

.cdk-drag-placeholder{
  opacity: 0.5;

  padding: 20px 10px;
  margin: 5px 4px;
  border-radius: 4px;

  border: 1px solid #4f4f4f;
  min-height: 50px;
  background-color: var(--drag-placeholder-bg-color);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.post-column.cdk-drop-list-dragging .post-dnd-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.post-column-caption{
  background: var(--post-column-caption-color);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.79);
  border-left: 1px dotted rgba(0, 0, 0, 0.79);
  border-right: 1px dotted rgba(0, 0, 0, 0.79);
}
.post-column-title{
  font-size: 20px;
  font-weight: bold;
}
.post-column-container{
  background: linear-gradient(to bottom,
  var(--post-bg-grad-from-color),
  var(--post-bg-grad-to-color));
}
.post-column{
  background: linear-gradient(to bottom,
  rgba(255, 255, 255,0.05),
  rgba(0, 0, 0, 0.00));
  min-height: 80vh;
  border-radius: 4px;
  overflow: hidden;
}
.post-dnd-item{
  padding: 20px 10px;
  margin: 5px 5px 5px 5px;
  border-radius: 4px;
  border: dotted 1px rgba(35, 35, 35, 0.6);
  color: var(--post-item-color);
  box-sizing: border-box;
  cursor: move;
  background: var(--post-bg-item-color);
  font-size: 14px;
}
.priority-item{
  padding: 10px 10px;
  margin: 5px 5px 5px 5px;
  border-radius: 4px;
  border: dotted 1px rgba(35, 35, 35, 0.6);
  color:  var(--post-item-color);
  box-sizing: border-box;
  background:var(--post-bg-item-color);
  font-size: 14px;

}
.priority-filter-link{
  cursor: pointer;
  text-decoration-line: underline;
  color: var(--post-item-color);
}
.priority-filter-link:hover{

  color: rgb(128, 128, 128);
}
.work-prepare-header{
  height: 48px;
  vertical-align: center;
}
.work-prepare-row{
  height: 48px;
}
.work-prepare-row:nth-child(odd){
  background-color: var(--table-even-bg-color);
}
.work-prepare-row:hover:nth-child(odd){

  background-color: var(--table-hover-bg-color);
}

.order-stat-table-header{
  height: 40px;
  vertical-align: center;

}
.order-stat-table-row{
  height: 55px;
}

.order-stat-table-row:nth-child(odd){
  background-color: var(--table-even-bg-color);

}
.order-stat-table-row:hover{
  background-color: var(--table-hover-bg-color);

}
table, th, td {
  border: 1px dotted rgba(178, 178, 178, 0.15);
  border-collapse: collapse;
  color: var(--post-item-color);
}
th.sticky{
  top:0;
  position: sticky;
  background-color: var(--table-sticky-bg-color);
  border: #201e1f 1px dotted;
}
.html-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.theme-tooltip{
  background-color: var(--post-bg-item-color)!important;
  color: var(--post-item-color)!important;
}

.html-tooltip .html-tooltiptext {
  visibility: hidden;
  width: max-content;
  font-size: 12px;
  background-color: var(--bg-tooltip-color);
  color: var(--tooltip-color);
  text-align: left;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  z-index: 1;
  white-space: pre-line;
  left: 100%;
  margin-left: 15px;
  opacity: 0;
  transition: opacity 0.3s;
}



.html-tooltip:hover .html-tooltiptext {
  visibility: visible;
  opacity: 1;
}
.transfer-caption {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer;
}
.transfer-caption:hover {
   background-color: rgba(0200,200,200,0.51);
}
