<div>

  <mat-form-field>
    <input matInput  [matDatepicker]="pickerFrom"
           placeholder="От" [(ngModel)]="this.from"
           [max]="this.to"
           >
    <mat-datepicker-toggle matSuffix [for]="$any(pickerFrom)">
    </mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>

  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="toPicker"
           placeholder="По" [(ngModel)]="this.to"
           [min]="this.from"
    >
    <mat-datepicker-toggle matSuffix [for]="$any(toPicker)">
    </mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>

  </mat-form-field>
  <button mat-raised-button color="primary" (click)="load()">Загрузить</button>
</div>
<div *ngIf="stat">
  <mat-button-toggle-group #chartSelect="matButtonToggleGroup" value="load-by-total">
    <mat-button-toggle value="load-by-total">Нагрузка общая</mat-button-toggle>
    <mat-button-toggle value="load-by-status">Нагрузка по статусам</mat-button-toggle>
  <!--  <mat-button-toggle value="load-by-orders">Нагрузка по заказам</mat-button-toggle> -->
  </mat-button-toggle-group>

  <div *ngIf="stat">


  <div class="w-100" *ngIf="chartSelect.value=='load-by-total'">
    <apx-chart [series]="totalChartOptions.series" [xaxis]="totalChartOptions.xaxis" [dataLabels]="totalChartOptions.dataLabels"
               [chart]="totalChartOptions.chart" [theme]="totalChartOptions.theme" [title]="totalChartOptions.title">

    </apx-chart>
  </div>
  <div class="w-100 row" *ngIf="chartSelect.value=='load-by-status'">
    <div class="col-3 mt-2">
      <span class="text-decoration-underline">Посты:</span>
      <mat-chip-listbox multiple="true" selectable="true">
        <mat-chip-option *ngFor="let i of this.posts" [selected]="isPost3dSelected(i)" (click)="selectPost3d(i)" >{{i}}</mat-chip-option>
      </mat-chip-listbox>
      <span class="text-decoration-underline">Статусы:</span>
      <div>
        <mat-chip-listbox multiple="true" selectable="true">
          <mat-chip-option *ngFor="let i of this.statuses" [selected]="isStatus3dSelected(i)" (click)="selectStatus3d(i)" >{{i}}</mat-chip-option>
        </mat-chip-listbox>
      </div>
    </div>


    <div  echarts [options]="bar3dChart" (chartInit)="onChartInit($event)" class="col-9"></div>
    <!--<apx-chart *ngFor="let post of stat.posts"  [series]="getByStatusChart(post).series" [xaxis]="getByStatusChart(post).xaxis"
               [yaxis]="getByStatusChart(post).yaxis" [stroke]="getByStatusChart(post).stroke"
               [theme]="getByStatusChart(post).theme" [chart]="getByStatusChart(post).chart" [markers]="getByStatusChart(post).markers"
               [grid]="getByStatusChart(post).grid" [tooltip]="getByStatusChart(post).tooltip" [title]="getByStatusChart(post).title">
    </apx-chart> -->

  </div>

  <div class="w-100" *ngIf="chartSelect.value=='load-by-orders'">
    <apx-chart *ngFor="let post of stat.posts"  [series]="getByOrderChart(post).series" [xaxis]="getByOrderChart(post).xaxis"
               [yaxis]="getByOrderChart(post).yaxis" [stroke]="getByOrderChart(post).stroke"
               [theme]="getByOrderChart(post).theme" [chart]="getByOrderChart(post).chart" [markers]="getByOrderChart(post).markers"
    [grid]="getByOrderChart(post).grid" [tooltip]="getByOrderChart(post).tooltip" [title]="getByOrderChart(post).title">
    </apx-chart>
  </div>
  </div>
</div>
