<div>
  <div class="mt-3" style="display: flex;justify-content: flex-end">

    <button mat-raised-button color="primary" (click)="loadIssues()">Отменить</button>
    <button style="margin-left: 20px" mat-raised-button color="primary" (click)="save()">Сохранить</button>
  </div>

  <table class="mt-4 w-100">
    <colgroup>
      <col span="1" style="width: 90%;">
      <col span="1" style="width: 10%;">
    </colgroup>
    <tbody>
    <tr>
      <th>Название</th>
      <th></th>
    </tr>
    <tr *ngFor="let p of this.list; let i = index">
      <td>
        {{p.name}}
      </td>
      <td>
        <button mat-icon-button color="primary" (click)="removeIssue(i)"><mat-icon>remove</mat-icon></button>
      </td>
    <tr>

      <td colspan="2" style="background-color: rgba(84,84,84,0.85)">Создание</td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Имя</mat-label>
          <input #name matInput type="text">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="text-end" >
        <button mat-raised-button color="primary" (click)="addIssue(name.value);name.value=''">Создать</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
