<div>
  <div mat-dialog-title>
    <span>Дневной ресурс</span>
  </div>
  <div style="width: 600px" mat-dialog-content>
<div class="d-flex justify-content-center">
  <div>
    <div *ngFor="let d of this.dates">
      <div>
        {{d}}
      <div class="row mb-3">
        <div *ngFor = "let p of dval[d.toString()]" class="col-6 mt-2">
          <mat-form-field style="width: 75%;" >
            <mat-label>{{p.productLineId}}</mat-label>
            <input matInput type="number" [(ngModel)]="p.value" [min]="0">
          </mat-form-field>
        </div>
      </div>


      </div>
    </div>
  </div>
</div>



  </div>

  <div mat-dialog-actions>
    <div  style="display: flex;justify-content: space-between; width: 100%; margin-left: 20px; margin-right: 20px; margin-bottom: 20px">

      <button mat-raised-button color="primary" (click)="cancel()">Отмена</button>
      <button mat-raised-button color="primary" (click)="ok()">Готово</button>
    </div>
  </div>
</div>
