<div>
  <div mat-dialog-title>

  </div>
  <div style="width: 400px" mat-dialog-content>

    <div *ngFor = "let p of this.data.productionLines">
      <mat-form-field style="width: 75%;" >
        <mat-label>{{p.productLineId}}</mat-label>
        <input matInput type="number" [(ngModel)]="p.value" [min]="0">
      </mat-form-field>
    </div>


  </div>

  <div mat-dialog-actions>
    <div  style="display: flex;justify-content: space-between; width: 100%">

      <button mat-raised-button color="primary" (click)="cancel()">Отмена</button>
      <button mat-raised-button color="primary" (click)="ok()">Готово</button>
    </div>
  </div>
</div>
