<div style="max-height: 100%; overflow-y: hidden">
  <div class="mt-3" style="display: flex;justify-content: flex-end">

    <button mat-raised-button color="primary" (click)="loadOperations()">Отменить</button>
    <button style="margin-left: 20px" mat-raised-button color="primary" (click)="saveOperations()">Сохранить</button>
  </div>

  <div class="mt-2 mb-2" style="display: flex; justify-content: flex-start">
    <mat-form-field class="w-100">
      <mat-label>Контролеры ОТК</mat-label>
      <mat-chip-grid #chipGrid>

        <mat-chip-row *ngFor="let w of this.workers">
          {{w.name}}
          <button matChipRemove [attr.aria-label]="'remove'" (click)="this.removeWorker(w)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input placeholder="Новый сотрудник ОТК..." [matChipInputFor]="chipGrid"
               (matChipInputTokenEnd)="addWorker($event)"/>
      </mat-chip-grid>
    </mat-form-field>
  </div>

  <table class="mt-4 w-100">
    <colgroup>
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 50%;">
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 15%;">
    </colgroup>
    <tr>
      <th>Контролируемый параметр</th>
      <th>Описание</th>
      <th>Требуемое значение</th>
      <th>Продукция</th>
      <th></th>
    </tr>
    <tr *ngFor="let o of this.operations">
      <td>{{o.shortName}}</td>
      <td>{{o.fullName}}</td>
      <td>{{o.targetValue}}</td>
      <td>{{o.productLine}}</td>
      <td><button mat-icon-button color="primary" (click)="remove(o)"><mat-icon>remove</mat-icon></button></td>
    </tr>
    <tr>
      <td colspan="4" style="border-top: 2px #6d6d6d dashed">
        <div  style="padding-top: 7px; padding-bottom: 3px">
          Создание
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label></mat-label>
          <input type="text" matInput [(ngModel)]="newOperation.shortName">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="w-100">
          <mat-label></mat-label>
          <textarea type="text" rows="1" matInput [(ngModel)]="newOperation.fullName"></textarea>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="w-100">
          <mat-label>Требуемое значение</mat-label>
          <mat-select [(ngModel)]="newOperation.targetValue">
            <mat-option [value]="tv.target" *ngFor="let tv of this.targetValues">{{tv.displayName}} ({{tv.source}})</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label></mat-label>
          <mat-select multiple [(ngModel)]="newOperation.productLines">
            <mat-option value="LUMAR">LUMAR</mat-option>
            <mat-option value="SVETON">SVETON</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  <tr>
    <td colspan="4" class="text-end" >
      <button mat-raised-button color="primary" (click)="add()"
              [disabled]="newOperation.fullName.length<1 || this.newOperation.shortName.length<1 || this.newOperation.productLines.length<1" >Создать</button>
    </td>
  </tr>
  </table>
</div>
