<div *ngIf="work" >

  <div  *ngIf="work.isLoading" style="display: flex; justify-content: flex-end">

    <span *ngIf="work.isSaving">Сохранение...</span>
    <mat-spinner style="display: inline-block" color="primary" diameter="15"></mat-spinner>
  </div>
  <div ><a> {{work.structure.article}} х {{work.structure.count}} (приоритет:{{work.structure.priority}})</a> <div></div></div>
  <div>{{work.structure.orderNumber}} - {{work.structure.productLine}}</div>

  <div>Норма: {{work.structure.totalCost|number}}</div>
  <div>{{work.structure.description}}</div>


  <div *ngIf="work.structure.status==10">
    Поступление от: {{work.structure.movedFrom}}
  </div>
  <div *ngIf="work.structure.status == 40 && work.structure.movedTo && work.structure.movedTo.length>0">
    Передано в: {{work.structure.movedTo}}
  </div>

  <div *ngIf="work.structure.issues && work.structure.issues.length>0">
    <div>События:</div>
    <div *ngFor="let iss of work.structure.issues" class="w-100" style="display: flex; justify-content: start; align-items: center">
      <span class="mt-1">
        <span *ngIf="iss.returnedFromPostId.length>0" style="background-color: rgba(255,212,0,0.43)">[Возвращено от {{iss.returnedFromPostId}}]</span>
        <span *ngIf="iss.returnBackPostId.length>0" style="background-color: rgba(102,255,0,0.43)">[Возвращено на {{iss.returnBackPostId}}]</span>
        {{iss.description}}
      </span>
      <button [disabled]="iss.returnBackPostId.length>0" mat-icon-button color="primary" (click)="work.resolveIssue(iss)"><mat-icon>check</mat-icon></button>
    </div>
  </div>
  <div style="display: flex; justify-content: space-between; align-items: baseline" class="mt-1">
    <mat-expansion-panel>
      <mat-expansion-panel-header>Операции</mat-expansion-panel-header>
      <ul>
        <li *ngFor="let c of work.structure.comments">{{c}}</li>
      </ul>

    </mat-expansion-panel>
    <div>
      <button style="margin-right: 5px" [disabled]="work.getActions().length==0" mat-button [matMenuTriggerFor]="menu" color="primary">Действия</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let a of this.work.getActions()" (click)="work.runAction(a)">{{a}}</button>

      </mat-menu>
    </div>

  </div>

</div>
